body,p,h1,h2,h3,h4,h5,h6 {font-family: Palatino Linotype, sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color: #FAE0E4;
}

.w3-top a:hover {
  background-color: #DC2F02 !important;
  color: white !important;
}
.w3-sidebar a:hover {
  background-color: #DC2F02 !important;
  color: white !important;
}

/* Full height image header */
.title_img {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center -150px;
  background-size: cover;
  background-image: url("./img/mit.jpg");
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  position: relative;

  /* max-height: 30%; */
}
.title_img h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 7vw;
  color: white;
}
.title_img button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24%;
  padding: 3px;
  border-radius: 15px;
  background-color: #F9BEC7;
  border-width: 0;
  font-size: 1.2vw;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.title_img button:hover {
  opacity: 1;
  cursor: pointer;
  animation: color 5s ease infinite;
}

@keyframes color {
  0% { color: #9D0208; }
  50% { color: #E85D04; }
  100% { color: #9D0208; }
}

.team_container {
  background-color: #FAE0E4;
  width: 100%; /* Adjust as needed */
  display: flex;
  flex-direction: row;
  padding: 1.5% 1%;
  gap: 1%;
}
.team_member {
  display: block;
  width: 100%;
  padding: 1%;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  /* min-height: 500px; */
}
.team_member img {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  /* width: 200px; */
  /* height: 200px; */
  /* max-height: 200px; */
}
.team_member h4 {
  margin: 0;
  /* font-size: 18px; */
  font-size: 2.5vw;
}
.team_member p {
  /* font-size: 10px; */
  font-size: 1.5vw;
}
.team_member:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #F9BEC7;
}

.contact_container {
  background-color: #85182A;
  width: 100%; /* Adjust as needed */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4%;
  padding: 4%;
  text-align: center;
}
.contact_container .card {
  border-radius: 10px;
  min-height: 200px;
  padding: 2%;
}
.contact_container h1 {
  margin: 0;
  /* font-size: 18px; */
  font-size: 4.5vw;
}
.contact_container p {
  font-size: 1.5vw;
}
.contact_container i {
  font-size: 2vw;
}

footer {
  padding: 3%;
  background-color: #641220;
}
footer p {
  text-align: center;
  color: white;
  font-size: 1vw;
  margin: 0;
  margin-top: 3.1%;
}
footer .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.buttons button {
  background-color: #9D0208;
  padding: clamp(0px, 1.2vw, 7px) clamp(0px, 1.4vw, 8px);
  width: 30%;
  max-width: 133px;

  border-radius: 10px;
  border-width: 0;
  color: white;
  font-size: clamp(0px, 3vw, 15px);
}
.buttons i {
  font-size: clamp(0px, 3vw, 15px);
}
.buttons button:hover {
  cursor: pointer;
  background-color: #DC2F02;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-container {
  width: 100%; /* Adjust as needed */
  margin: auto; /* Centers the container */
  display: flex;
  justify-content: space-evenly; /* Centers child elements */
  gap: 5%;
  padding: 5% 0;
}
