---
title: Test Report
---

# Test Report

## First heading

This is an example report, not using the format, but we should have enough power with this.

| Table | Cool beans |
|---    | ---        |
| a     | c          |

> A recommendation to get my eyes checked

A *very* __emphatic__ ***sentence***.

```rust
struct SomeCode {
    integer: i8,
    unsigned: u128,
}

impl SomeCode {
    fn do_crimes(&self) -> u128 {
        self.unsigned - self.unsigned - 1
    }
}
```

## Second heading

Wow.

$y = mx + b$

What a time to be alive.